*{
  padding:0;
  margin:0;
}

header {
  background-color: lightseagreen;
  text-align: center;
}

nav {
  height: fit-content;
  background-color: rgb(53, 186, 179);
  padding: 20px 0px 20px 40px;
  
}

article {
  height:auto;
  display: inline-block;
  background-color: none;
  max-width: 70%;
  padding-left: 40px;
}

table {
  border-collapse: collapse;
  font: 16px "Lucida Grande", "Helvetica", "Arial", sans-serif;
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
    
}

th, td {
  border: 1px solid #bbb;
  padding: 2px 8px 0;
  text-align: left;
}

section {
  background-color: none;
  text-align: justify;
  padding: 5px;

  
}

aside{
  background-color: none;
  max-width: 25%;
  display:inline-block;
  vertical-align:top;
  padding-right: 0%;

    
}

h4, h3 {
  text-align: center;
}

footer {
  text-align: center;
}

p, h4 {
  padding-bottom: 5px;
}

ul {
  padding-left: 40px;
}

#h4-aside {
  background-color: rgb(16, 220, 213);
  text-align: center;
  padding: 10px 0px 10px 0px;
}
p { 
  text-indent: 10px;
}

span { 
  padding-left: 20px;
}