*{
  padding:0;
  margin:0;
}

header {
  height: 10vh;
  background-color: lightseagreen;
  text-align: center;
}

nav {
  height: fit-content;
  background-color: lightgrey;
  padding-left: 40px;
  padding-bottom: 40px;
}

article {
  height:auto;
  display: inline-block;
  background-color: lightskyblue;
  max-width: 70%;
  padding-left: 40px;
}

table {
  border-collapse: collapse;
  font: 16px "Lucida Grande", "Helvetica", "Arial", sans-serif;
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
    
}

th, td {
  border: 1px solid #bbb;
  padding: 2px 8px 0;
  text-align: left;
}

section {
  background-color: darksalmon;
  text-align: justify;
  
}

aside{
  background-color: aquamarine;
  max-width: 25%;
  display:inline-block;
    
}

h4, h3 {
  text-align: center;
}

footer {
  text-align: center;
}

p, h4 {
  padding-bottom: 5px;
}

ul {
  padding-left: 40px;
}